<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fc494360f4.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/adminStyle.css">
    <title>ONLEX | EXAMS</title>
</head>
<body>
    <header class="darkbg " id="question-page-header">
        <div class="admin-container">
            <div class="simple-flex">
                <img src="/img/favicon.png" alt="onlex logo" width="50px" height="50px">
                <div class="system-name">
                    <a href=""><h2>ONLEX</h2></a>
                    <!-- <p>The Smart System</p> -->
                </div>
            </div>
            <h3><a href="">Bonne chance</a></h3>
        </div>
    </header>
    <main id="question-page">
        <div id="question">
            
            <p class="red-text">***Veuillez essayer de vous conformer a toutes les regles et reglementations regissant ce test. Toute tentative de triche entrainera la deconnexion du systeme.</p>
                
            <form action="/exams/composition/attempt?idqst=<%=item[0]%>&idcm=<%=concours%>&type=<%=type%>&page=<%=page%>" method="POST">
                <div class="question whitebg">
                    <p id="idquestion-num">Question <%=page%></p>
                    <h4><%=item[1]%></h4> 
                    <% for(let j=3 ; j<item.length ; j+=2){%>
                        <%if(type=="Choix unique"){%>
                            <div class="response">
                                <input type="radio" name="option" id="answer" value=<%=item[j]%>>
                                <span class="selected"></span>

                                <label for="option"><%=item[j+1]%></label>
                            </div>
                     
                        <%}else{%>
                            <div class="response">
                                <input type="checkbox" name="option" id="answer" value=<%=item[j]%>>
                                <!-- <span class="selected"></span> -->

                                <label for="option"><%=item[j+1]%></label>
                            </div>
                        <%}%>
                    <%}%> 
                    <div class="question-controller bgdeepgray">
                        <button type="submit" class="bggold btn">NEXT</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="video-question-num">
            <video src="" poster="../icons/face.png"></video>
            <p class="bgdeepgray">QUESTIONS</p>
            <div class="question-tags whitebg">
                <%for(let k=1; k<questionLength;k++){%>
                    <%if(k<page){%>
                <div class="greenbg"><%=k%></div>
                <%}else{%>
                    <div class="bglightgray"><%=k%></div>
                    <%}%>
               <%}%>
            </div>
            <h4>TEMP RESTANT:05:35</h4>
        </div> 
    </main>
    <script>
         function increasePageNumber(pageNumber){
             pageNumber++;
         }
    </script>
</body>
</html>