<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONLEX | CREATE NEW QUESTION</title>
    <link rel="stylesheet" href="/styles/registration.css">
    <link rel="stylesheet" href="/styles/question.css">
</head>
<body>
    <%-include("./includes/subAdminHeader")%>
    
    <main id="create-new-question-form-wrapper">
        <div class="question-container">
            <form action="/question/updatequestion:idiq=<%=idQuestion%>" method="POST">
                <h3 class="bg-green btn white-text" style="width: 100%; text-align: center; margin-bottom: 30px;">MODIFIE UNE QUESTION</h3>
              <div class="intitule">
                  <label for="intitule">Intitule:</label>
                  <textarea name="intitule" id="intitule" placeholder="Intitule"><%=question[0].intitule%></textarea>
              </div>
              <div class="typederesponse">
                  <label for="typeresponse">Type de response:</label>
                  <select name="typeresponse" id="typeresponse">
                      <option value="Choix unique">Choix unique</option>
                      <option value="Choix multiple">Choix multiple</option>
                  </select>
              </div>
              <div class="numoption">
                  <label for="numberption">Nombre d'option:</label>
                  <input type="number" name="numberoption" id="numoptions">
              </div>
              <div id="options">
               <%for(let option of options){%>
              
                <input type="text" name="" id="" value="<%=option.texte%>">
                <select name="" id="">
                    <%if(option.verdict=="True"){%>
                    <option value="<%=option.verdict%>"><%=option.verdict%></option>
                    <%}else{%>
                        <option value="False">False</option>
                    <%}%>
                </select>
               
                <%}%>
              </div>
              <div class="point">
                  <label for="numpoint">Point: </label>
                  <input type="number" name="point" id="numpoint" value="<%=question.point%>">
              </div>
              <input type="submit" value="AJOUTER" class="btn bg-green white-text">
            </form>
        </div>
    </main>
    <script src="/createquestion.js"></script>
</body>

</html>

